body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #222;
  color: #fff;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 15px;
  background: #fff;
  border-radius: 5px;
}

h2 {
  color: #222;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: #fff;
}
